In [7]:
import pandas as pd
import numpy as np

In [18]:
d = pd.date_range('20200101', periods = 10, freq='M')
print(d)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

In [19]:
d = pd.date_range('20200101', periods = 10, freq='D')
print(d)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
d = pd.date_range('20200101', periods = 10, freq='Y')
print(d)

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [22]:
np.random.randn(10,4)

array([[ 5.35732439e-02, -1.31283216e+00, -4.49771648e-01,
        -1.63851531e+00],
       [ 3.12604579e-02,  6.32112779e-01, -2.24562350e-01,
        -7.52056973e-01],
       [-6.50994216e-01,  1.55426699e-03, -9.44015197e-02,
        -9.71583246e-01],
       [-1.91205504e+00, -1.12198113e-01,  7.47825085e-01,
         1.06962086e+00],
       [ 1.12106757e+00, -4.16616256e-02,  3.89375869e-03,
        -1.01082045e+00],
       [ 8.52560485e-01,  1.25846286e+00, -1.57284858e+00,
         9.25130194e-01],
       [ 1.95676335e-01, -2.49595875e-02, -4.45650580e-01,
         1.28847959e-01],
       [ 2.39155297e-01, -2.04552152e-01, -1.04779789e+00,
        -7.79717308e-01],
       [ 2.48211843e+00, -8.93441690e-01, -6.74092198e-01,
         6.92057440e-01],
       [ 7.29141215e-01, -6.19679518e-01, -1.64468855e+00,
         4.54326674e-01]])

In [26]:
r = np.random.randn(10,4)
df= pd.DataFrame(r)
print(df)

          0         1         2         3
0  0.293942  0.826234  1.669884 -1.087474
1 -1.194997  0.147299 -0.142868  0.294420
2  0.912797  0.896830 -0.637483  0.137660
3  1.087694 -1.358525 -0.736116  0.073559
4  0.064333  0.069548 -2.296657  0.440560
5  0.420658  1.172283  0.660063 -0.733475
6 -1.778987  0.385933  0.376956  0.601398
7 -1.096511 -1.550003  0.302457 -1.400010
8 -0.056159 -0.947050 -0.076102  1.139897
9 -0.475244  0.377202 -0.632286  0.385505

In [27]:
r = np.random.randn(10,4)
df= pd.DataFrame(r, index= d, columns=['a','b','c','d'])
print(df)

                   a         b         c         d
2020-01-01  0.115459 -0.709728 -0.483373 -0.392066
2020-01-02 -0.732908  1.125503  0.061938  0.853384
2020-01-03 -0.272030  0.932089 -0.923230  2.164732
2020-01-04  1.100064 -0.166326 -0.973350  0.629426
2020-01-05 -0.254594 -0.330784 -1.244642  0.660003
2020-01-06 -1.811420  0.490794  0.217670  0.882109
2020-01-07 -0.235548  0.830471  1.417217  1.618417
2020-01-08 -0.586130  0.051320  0.965318 -0.026064
2020-01-09 -0.175606 -0.807736  0.531737 -1.283826
2020-01-10 -0.774817  1.070063  0.043755 -2.236479

In [29]:
r = np.random.randn(10,4)
df= pd.DataFrame(r, index= d, columns=list('ABCD'))
print(df)

                   A         B         C         D
2020-01-01  1.193238  0.339605  1.583925 -0.825258
2020-01-02 -0.578167  1.928968 -1.391858  0.348825
2020-01-03 -0.434637 -0.317058 -1.443311 -0.975488
2020-01-04 -0.125141  1.405850 -0.489457  0.097863
2020-01-05  0.827715 -1.185669  1.128762 -0.086439
2020-01-06 -0.249332  0.272957  0.581078  0.398790
2020-01-07 -1.220436  1.123208  0.262784 -0.523445
2020-01-08  2.345462 -0.418174 -0.846214  1.058958
2020-01-09 -0.860241 -2.085935 -0.023778 -0.989613
2020-01-10  0.584993 -0.387940 -1.042119 -1.179221

In [31]:
df.shape

(10, 4)

In [32]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2020-01-01 to 2020-01-10
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
dtypes: float64(4)
memory usage: 400.0 bytes

In [35]:
df.head(5)

                   A         B         C         D
2020-01-01  1.193238  0.339605  1.583925 -0.825258
2020-01-02 -0.578167  1.928968 -1.391858  0.348825
2020-01-03 -0.434637 -0.317058 -1.443311 -0.975488
2020-01-04 -0.125141  1.405850 -0.489457  0.097863
2020-01-05  0.827715 -1.185669  1.128762 -0.086439

In [36]:
df.tail(3)

                   A         B         C         D
2020-01-08  2.345462 -0.418174 -0.846214  1.058958
2020-01-09 -0.860241 -2.085935 -0.023778 -0.989613
2020-01-10  0.584993 -0.387940 -1.042119 -1.179221

In [37]:
df.isnull()

                A      B      C      D
2020-01-01  False  False  False  False
2020-01-02  False  False  False  False
2020-01-03  False  False  False  False
2020-01-04  False  False  False  False
2020-01-05  False  False  False  False
2020-01-06  False  False  False  False
2020-01-07  False  False  False  False
2020-01-08  False  False  False  False
2020-01-09  False  False  False  False
2020-01-10  False  False  False  False

In [41]:
df.isnull().sum()

A    0
B    0
C    0
D    0
dtype: int64

In [43]:
df.dropna()  # return remaining values

                   A         B         C         D
2020-01-01  1.193238  0.339605  1.583925 -0.825258
2020-01-02 -0.578167  1.928968 -1.391858  0.348825
2020-01-03 -0.434637 -0.317058 -1.443311 -0.975488
2020-01-04 -0.125141  1.405850 -0.489457  0.097863
2020-01-05  0.827715 -1.185669  1.128762 -0.086439
2020-01-06 -0.249332  0.272957  0.581078  0.398790
2020-01-07 -1.220436  1.123208  0.262784 -0.523445
2020-01-08  2.345462 -0.418174 -0.846214  1.058958
2020-01-09 -0.860241 -2.085935 -0.023778 -0.989613
2020-01-10  0.584993 -0.387940 -1.042119 -1.179221

In [44]:
df.dropna(axis=1) # dropp column , axis = 0 means row

                   A         B         C         D
2020-01-01  1.193238  0.339605  1.583925 -0.825258
2020-01-02 -0.578167  1.928968 -1.391858  0.348825
2020-01-03 -0.434637 -0.317058 -1.443311 -0.975488
2020-01-04 -0.125141  1.405850 -0.489457  0.097863
2020-01-05  0.827715 -1.185669  1.128762 -0.086439
2020-01-06 -0.249332  0.272957  0.581078  0.398790
2020-01-07 -1.220436  1.123208  0.262784 -0.523445
2020-01-08  2.345462 -0.418174 -0.846214  1.058958
2020-01-09 -0.860241 -2.085935 -0.023778 -0.989613
2020-01-10  0.584993 -0.387940 -1.042119 -1.179221

In [47]:
df.value_counts()

A          B          C          D
-1.220436   1.123208   0.262784  -0.523445    1
-0.860241  -2.085935  -0.023778  -0.989613    1
-0.578167   1.928968  -1.391858   0.348825    1
-0.434637  -0.317058  -1.443311  -0.975488    1
-0.249332   0.272957   0.581078   0.398790    1
-0.125141   1.405850  -0.489457   0.097863    1
 0.584993  -0.387940  -1.042119  -1.179221    1
 0.827715  -1.185669   1.128762  -0.086439    1
 1.193238   0.339605   1.583925  -0.825258    1
 2.345462  -0.418174  -0.846214   1.058958    1
dtype: int64

In [48]:
df['A'].value_counts()

 1.193238    1
-0.578167    1
-0.434637    1
-0.125141    1
 0.827715    1
-0.249332    1
-1.220436    1
 2.345462    1
-0.860241    1
 0.584993    1
Name: A, dtype: int64

In [49]:
df.corr()

          A         B         C         D
A  1.000000 -0.226400  0.148829  0.377125
B -0.226400  1.000000 -0.203378  0.334707
C  0.148829 -0.203378  1.000000 -0.075097
D  0.377125  0.334707 -0.075097  1.000000