<a href="https://colab.research.google.com/github/RKulagowska/Pandas/blob/main/04_Pandas_Concatination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.date_range('20191101', periods = 10, freq='Y')

In [3]:
r = np.random.randn(10,4)
df= pd.DataFrame(r, index= d, columns=list('ABCD'))
print(df)

                   A         B         C         D
2019-12-31 -1.283336  1.290914  0.909591  0.033305
2020-12-31  0.873167 -0.291598  0.280577  0.492303
2021-12-31 -2.626189 -0.542012  0.938546  0.354011
2022-12-31 -0.889892  1.680077  0.944382  0.861769
2023-12-31  1.282019 -0.493467 -0.803761  0.409917
2024-12-31 -1.405570  1.119585 -0.402485 -0.798527
2025-12-31 -0.353669  1.137834 -1.229967 -1.344854
2026-12-31 -0.097111  0.774443  0.299291 -0.820561
2027-12-31  0.222672 -0.647917 -0.041976 -0.510698
2028-12-31  0.691826 -0.909876 -0.552199  0.452418

In [5]:
df.drop(columns=['A','B'])

                   C         D
2019-12-31  0.909591  0.033305
2020-12-31  0.280577  0.492303
2021-12-31  0.938546  0.354011
2022-12-31  0.944382  0.861769
2023-12-31 -0.803761  0.409917
2024-12-31 -0.402485 -0.798527
2025-12-31 -1.229967 -1.344854
2026-12-31  0.299291 -0.820561
2027-12-31 -0.041976 -0.510698
2028-12-31 -0.552199  0.452418

In [14]:
a = pd.DataFrame({'Name':['Jan','Julia', 'Diana'], 'Age':[10,30,20]})
b= pd.DataFrame({'Name':['Adam', 'Jan'], 'Age':[15,10]}, index=[3,4])
print(a)
print(b)

    Name  Age
0    Jan   10
1  Julia   30
2  Diana   20
   Name  Age
3  Adam   15
4   Jan   10

In [15]:
ab= pd.concat([a,b])
print(ab)

    Name  Age
0    Jan   10
1  Julia   30
2  Diana   20
3   Adam   15
4    Jan   10

In [16]:
ab['Name']

0      Jan
1    Julia
2    Diana
3     Adam
4      Jan
Name: Name, dtype: object

In [17]:
ab['Name'] == 'Jan'

0     True
1    False
2    False
3    False
4     True
Name: Name, dtype: bool

In [18]:
ab[ab['Name'] == 'Jan']

  Name  Age
0  Jan   10
4  Jan   10

In [19]:
ab.drop_duplicates('Name')

    Name  Age
0    Jan   10
1  Julia   30
2  Diana   20
3   Adam   15

In [21]:
ab.sort_values('Age')

    Name  Age
0    Jan   10
4    Jan   10
3   Adam   15
2  Diana   20
1  Julia   30

In [22]:
ab.rename(columns={'Name':'Employee'})

  Employee  Age
0      Jan   10
1    Julia   30
2    Diana   20
3     Adam   15
4      Jan   10

In [24]:
ab['Age'].sum()

85

In [25]:
ab['Age'].count()

5

In [27]:
ab['Age'].median()

15.0

In [30]:
ab['Age'].mean()

17.0

In [29]:
ab['Age'].mode()

0    10
dtype: int64

In [31]:
ab['Age'].std()

8.366600265340756

In [32]:
ab['Age'].min()

10