<a href="https://colab.research.google.com/github/RKulagowska/Pandas/blob/main/07_Pandas_Loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
import os

In [ ]:
d = pd.date_range('20191101', periods = 10, freq='Y')
r = np.random.randn(10,4)
df= pd.DataFrame(r, index= d, columns=list('ABCD'))
print(df)

                   A         B         C         D
2019-12-31  1.321752  0.861947 -0.725040  0.188674
2020-12-31  0.338697 -0.798888  0.122221 -0.256160
2021-12-31 -0.459647  0.616141  0.623544  0.255407
2022-12-31 -0.464033 -0.035056 -1.500566 -0.173359
2023-12-31  0.653480 -0.943972 -0.342340  1.712575
2024-12-31 -0.058263 -1.187208  0.638248  0.858840
2025-12-31 -0.589495 -0.093914  0.095353  1.786227
2026-12-31 -1.081036  0.473883  0.686762 -0.038028
2027-12-31 -0.449739  0.063100  0.766692  0.093048
2028-12-31  0.704071  0.612096  0.401517 -1.060043

In [ ]:
df.pipe(type)  # pipe is table wise

pandas.core.frame.DataFrame

In [ ]:
def add(a,b):
  return a+b

df.pipe(add,10)

                    A          B          C          D
2019-12-31  11.321752  10.861947   9.274960  10.188674
2020-12-31  10.338697   9.201112  10.122221   9.743840
2021-12-31   9.540353  10.616141  10.623544  10.255407
2022-12-31   9.535967   9.964944   8.499434   9.826641
2023-12-31  10.653480   9.056028   9.657660  11.712575
2024-12-31   9.941737   8.812792  10.638248  10.858840
2025-12-31   9.410505   9.906086  10.095353  11.786227
2026-12-31   8.918964  10.473883  10.686762   9.961972
2027-12-31   9.550261  10.063100  10.766692  10.093048
2028-12-31  10.704071  10.612096  10.401517   8.939957

In [ ]:
df.apply(np.mean)  # śr z kolumny  # apply column or row wise

A   -0.008421
B   -0.043187
C    0.076639
D    0.336718
dtype: float64

In [ ]:
df.apply(np.mean, axis=1)  # średnia z wiersza

2019-12-31    0.411833
2020-12-31   -0.148532
2021-12-31    0.258861
2022-12-31   -0.543254
2023-12-31    0.269936
2024-12-31    0.062904
2025-12-31    0.299543
2026-12-31    0.010395
2027-12-31    0.118275
2028-12-31    0.164410
Freq: A-DEC, dtype: float64

In [ ]:
os.getcwd()

'/content'

In [67]:
a= pd.read_csv("http://winterolympicsmedals.com/medals.csv")
a.shape
a.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [68]:
a= pd.read_csv("http://winterolympicsmedals.com/medals.csv", skipfooter=5)  # skip last 5 
a.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

(2306, 8)

In [69]:
a= pd.read_csv("http://winterolympicsmedals.com/medals.csv", nrows=105)  # tylko 105
a.shape

(105, 8)

In [72]:
a= pd.read_csv("http://winterolympicsmedals.com/medals.csv", usecols=[1,4,6])  # kolumny 1,4,6
a.shape
a.head()

       City  NOC Event gender
0  Chamonix  AUT            M
1  Chamonix  AUT            W
2  Chamonix  AUT            X
3  Chamonix  BEL            M
4  Chamonix  CAN            M

In [74]:
b= a.head()
b.to_csv('new_medals.csv', index=False)

In [81]:
x = pd.read_csv('new_medals.csv')
print(x)

       City  NOC Event gender
0  Chamonix  AUT            M
1  Chamonix  AUT            W
2  Chamonix  AUT            X
3  Chamonix  BEL            M
4  Chamonix  CAN            M